In [1]:
import pandas as pd
import numpy as np

##Importing Data

In [2]:
#the url and auth_value from the website 
import requests
import requests, zipfile

url = "https://api.zindi.africa/v1/competitions/zindi-weekendz-laduma-analytics-football-league-winners-prediction-challenge/files/Train.csv"
myobj = {'auth_token': "TivLMPin9ajM7G4gkfdpDb9g"} 

x = requests.post(url, data = myobj,stream=True)
target_path = 'Train.csv'

handle = open(target_path, "wb")
for chunk in x.iter_content(chunk_size=512):
    if chunk:  # filter out keep-alive new chunks
        handle.write(chunk)
handle.close()

In [3]:
#the url and auth_value from the website 
import requests
import requests, zipfile

url = "https://api.zindi.africa/v1/competitions/zindi-weekendz-laduma-analytics-football-league-winners-prediction-challenge/files/Test.csv"
myobj = {'auth_token': "TivLMPin9ajM7G4gkfdpDb9g"} 

x = requests.post(url, data = myobj,stream=True)
target_path = 'Test.csv'

handle = open(target_path, "wb")
for chunk in x.iter_content(chunk_size=512):
    if chunk:  # filter out keep-alive new chunks
        handle.write(chunk)
handle.close()

In [4]:
#the url and auth_value from the website 
import requests
import requests, zipfile

url = "https://api.zindi.africa/v1/competitions/zindi-weekendz-laduma-analytics-football-league-winners-prediction-challenge/files/game_statistics.csv"
myobj = {'auth_token': "TivLMPin9ajM7G4gkfdpDb9g"} 

x = requests.post(url, data = myobj,stream=True)
target_path = 'game_statistics.csv'

handle = open(target_path, "wb")
for chunk in x.iter_content(chunk_size=512):
    if chunk:  # filter out keep-alive new chunks
        handle.write(chunk)
handle.close()

In [5]:
train = pd.read_csv('Train.csv')
print(train.shape)
train.head()

(412, 7)

         Date  Season  Match_ID      Game_ID  Home Team  Away Team     Score
0  2017-02-15       1       1.0  ID_KAG4KAE9   Antennae  Andromeda  Away win
1  2016-09-14       1      12.0  ID_T7H1XN5Z  Andromeda   Antennae      Draw
2  2016-12-12       1      13.0  ID_O1P9FGN4  Andromeda  Butterfly  Away win
3  2017-01-25       1      14.0  ID_TR5M4KQV  Andromeda      Cigar  Away win
4  2016-08-24       1      15.0  ID_EOIECRE2  Andromeda   Circinus  Home Win

In [6]:
Test = pd.read_csv('Test.csv')
print(Test.shape)
Test.head()

(234, 6)

,Date,Season,Match_ID,Game_ID,Home Team,Away Team
0,2018-12-08,3,102.0,ID_8518U587,Antennae,Cosmos Redshift 7
1,2018-09-11,3,18.0,ID_H49BIKG7,Cosmos Redshift 7,Tadpole
2,2018-09-25,3,32.0,ID_PO6SP4VA,Cosmos Redshift 7,Medusa Merger
3,2018-10-02,3,40.0,ID_MZRCNBAQ,Cartwheel,Cosmos Redshift 7
4,2018-12-20,3,123.0,ID_CV9VOLIU,Cosmos Redshift 7,Needle

In [7]:
game_statistics = pd.read_csv("game_statistics.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (16,17,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
train["Train"] = 1
Test["Train"]= 0

train_test = pd.concat([train, Test])#for easy manipulation

In [9]:
#Merging all data
all_data = game_statistics.merge(train_test, on="Game_ID")

In [10]:
home_team_df=all_data[all_data['Team']==all_data['Home Team']].groupby(['Game_ID','Team']).agg("sum")
away_team_df=all_data[all_data['Team']==all_data['Away Team']].groupby(['Game_ID','Team']).agg("sum")

In [11]:
home_team_df

,,id,X,Y,Shots,SoT,Accurate passes,Inaccurate passes,Passes,Start_minutes,End_minutes,next_x,next_y,event_id,next_event_id,xt_value,Season,Match_ID,Train
Game_ID,Team,,,,,,,,,,,,,,,,,,
ID_00EFNL7L,Butterfly,3321595.0,101287.8,62556.1,19.0,7.0,327.0,83.0,410.0,93684.54,94291.59,0.0,0.0,0.0,0.0,0.000000,1826,76692.0,1826
ID_00J124MI,Backward,2939691.0,88784.6,53127.2,18.0,6.0,259.0,71.0,330.0,67403.75,67941.73,0.0,0.0,0.0,0.0,0.000000,1615,48450.0,1615
ID_03VRW8WV,Comet,3374113.0,94888.3,56636.9,9.0,3.0,371.0,88.0,459.0,86846.45,87445.78,94311.2,58298.9,1874307.0,1873252.0,1.697246,5379,155991.0,0
ID_04T9W310,Andromeda,3700349.0,88821.0,71387.8,6.0,4.0,394.0,87.0,481.0,88518.80,89169.40,0.0,0.0,0.0,0.0,0.000000,3886,46632.0,1943
ID_05YW7A1R,Sunflower,3065867.0,84070.8,59595.1,8.0,2.0,331.0,78.0,409.0,75976.57,76548.28,91088.7,60805.6,1631250.0,1632166.0,1.383354,5139,325470.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ID_ZWD4FQ05,Butterfly,3572688.0,104685.0,56358.4,7.0,5.0,324.0,94.0,418.0,89890.41,90545.37,0.0,0.0,0.0,0.0,0.000000,1956,70416.0,1956
ID_ZWJJP6T6,Backward,3052205.0,88078.9,54625.1,10.0,3.0,279.0,77.0,356.0,75182.42,75756.45,0.0,0.0,0.0,0.0,0.000000,3430,198940.0,1715
ID_ZWPPN4W1,Eye of Sauron,4404438.0,114540.9,68772.6,11.0,2.0,352.0,93.0,445.0,104357.39,105050.28,0.0,0.0,0.0,0.0,0.000000,2078,270140.0,2078
ID_ZYI3C0HF,Coma Pinwheel,4176732.0,114670.8,72560.5,9.0,4.0,455.0,82.0,537.0,103440.47,104176.98,0.0,0.0,0.0,0.0,0.000000,4410,227115.0,2205
ID_ZZKYYPVY,Backward,2801597.0,85159.9,53135.5,13.0,3.0,264.0,81.0,345.0,77580.99,78120.00,0.0,0.0,0.0,0.0,0.000000,3218,62751.0,1609

In [12]:
home_team_df.reset_index(inplace=True)
away_team_df.reset_index(inplace=True)

##Feature Engineering

In [13]:
home_team_df['SoT/shots']=home_team_df['SoT']/home_team_df['Shots']
home_team_df['acc_pass']=home_team_df['Accurate passes']/home_team_df['Passes']
home_team_df['adv SoT/shots']=away_team_df['SoT']/away_team_df['Shots']
home_team_df['adv acc_pass']=away_team_df['Accurate passes']/away_team_df['Passes']

In [14]:
home_team_df

,Game_ID,Team,id,X,Y,Shots,SoT,Accurate passes,Inaccurate passes,Passes,...,event_id,next_event_id,xt_value,Season,Match_ID,Train,SoT/shots,acc_pass,adv SoT/shots,adv acc_pass
0,ID_00EFNL7L,Butterfly,3321595.0,101287.8,62556.1,19.0,7.0,327.0,83.0,410.0,...,0.0,0.0,0.000000,1826,76692.0,1826,0.368421,0.797561,0.000000,0.753582
1,ID_00J124MI,Backward,2939691.0,88784.6,53127.2,18.0,6.0,259.0,71.0,330.0,...,0.0,0.0,0.000000,1615,48450.0,1615,0.333333,0.784848,0.250000,0.868284
2,ID_03VRW8WV,Comet,3374113.0,94888.3,56636.9,9.0,3.0,371.0,88.0,459.0,...,1874307.0,1873252.0,1.697246,5379,155991.0,0,0.333333,0.808279,0.600000,0.813953
3,ID_04T9W310,Andromeda,3700349.0,88821.0,71387.8,6.0,4.0,394.0,87.0,481.0,...,0.0,0.0,0.000000,3886,46632.0,1943,0.666667,0.819127,0.222222,0.810757
4,ID_05YW7A1R,Sunflower,3065867.0,84070.8,59595.1,8.0,2.0,331.0,78.0,409.0,...,1631250.0,1632166.0,1.383354,5139,325470.0,0,0.250000,0.809291,0.166667,0.815842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,ID_ZWD4FQ05,Butterfly,3572688.0,104685.0,56358.4,7.0,5.0,324.0,94.0,418.0,...,0.0,0.0,0.000000,1956,70416.0,1956,0.714286,0.775120,0.400000,0.714706
642,ID_ZWJJP6T6,Backward,3052205.0,88078.9,54625.1,10.0,3.0,279.0,77.0,356.0,...,0.0,0.0,0.000000,3430,198940.0,1715,0.300000,0.783708,0.272727,0.836364
643,ID_ZWPPN4W1,Eye of Sauron,4404438.0,114540.9,68772.6,11.0,2.0,352.0,93.0,445.0,...,0.0,0.0,0.000000,2078,270140.0,2078,0.181818,0.791011,0.333333,0.786177
644,ID_ZYI3C0HF,Coma Pinwheel,4176732.0,114670.8,72560.5,9.0,4.0,455.0,82.0,537.0,...,0.0,0.0,0.000000,4410,227115.0,2205,0.444444,0.847300,0.600000,0.802198
645,ID_ZZKYYPVY,Backward,2801597.0,85159.9,53135.5,13.0,3.0,264.0,81.0,345.0,...,0.0,0.0,0.000000,3218,62751.0,1609,0.230769,0.765217,0.272727,0.842672

In [15]:
df=home_team_df.merge(train_test, on="Game_ID")

In [16]:
df.drop(['id','X','Y','Start_minutes','End_minutes','next_x','next_y','event_id','next_event_id','xt_value','Season_x','Match_ID_x','Train_x','Team'],axis=1,inplace=True)

In [17]:
# time features 
df['created_at'] = pd.to_datetime(df['Date'])
df['year'] = df['created_at'].dt.year
df['year'] = df['year'].astype(float)
df['month'] = df['created_at'].dt.month
df['day'] = df['created_at'].dt.day
df['weekday'] = df['created_at'].dt.weekday
df['weekofyear'] = df['created_at'].dt.weekofyear

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.

In [18]:
df.to_csv("Final_df.csv",index=False)

In [19]:
df

,Game_ID,Shots,SoT,Accurate passes,Inaccurate passes,Passes,SoT/shots,acc_pass,adv SoT/shots,adv acc_pass,...,Home Team,Away Team,Score,Train_y,created_at,year,month,day,weekday,weekofyear
0,ID_00EFNL7L,19.0,7.0,327.0,83.0,410.0,0.368421,0.797561,0.000000,0.753582,...,Butterfly,Milky Way,Away win,1,2016-11-08,2016.0,11,8,1,45
1,ID_00J124MI,18.0,6.0,259.0,71.0,330.0,0.333333,0.784848,0.250000,0.868284,...,Backward,Medusa Merger,Draw,1,2016-11-06,2016.0,11,6,6,44
2,ID_03VRW8WV,9.0,3.0,371.0,88.0,459.0,0.333333,0.808279,0.600000,0.813953,...,Comet,Antennae,NaN,0,2018-11-28,2018.0,11,28,2,48
3,ID_04T9W310,6.0,4.0,394.0,87.0,481.0,0.666667,0.819127,0.222222,0.810757,...,Andromeda,Cigar,Draw,1,2017-11-21,2017.0,11,21,1,47
4,ID_05YW7A1R,8.0,2.0,331.0,78.0,409.0,0.250000,0.809291,0.166667,0.815842,...,Sunflower,Comet,NaN,0,2019-04-23,2019.0,4,23,1,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
641,ID_ZWD4FQ05,7.0,5.0,324.0,94.0,418.0,0.714286,0.775120,0.400000,0.714706,...,Butterfly,Sombrero,Draw,1,2017-02-19,2017.0,2,19,6,7
642,ID_ZWJJP6T6,10.0,3.0,279.0,77.0,356.0,0.300000,0.783708,0.272727,0.836364,...,Backward,Coma Pinwheel,Home Win,1,2018-02-20,2018.0,2,20,1,8
643,ID_ZWPPN4W1,11.0,2.0,352.0,93.0,445.0,0.181818,0.791011,0.333333,0.786177,...,Eye of Sauron,Butterfly,Away win,1,2016-08-14,2016.0,8,14,6,32
644,ID_ZYI3C0HF,9.0,4.0,455.0,82.0,537.0,0.444444,0.847300,0.600000,0.802198,...,Coma Pinwheel,Sunflower,Away win,1,2018-01-30,2018.0,1,30,1,5
645,ID_ZZKYYPVY,13.0,3.0,264.0,81.0,345.0,0.230769,0.765217,0.272727,0.842672,...,Backward,Circinus,Home Win,1,2017-12-06,2017.0,12,6,2,49